{% extends "core/base.html" %}

{% load thumbnail %}
{% load static %}

{% block content %}

<section class="page-section about-heading">
	<div class="container">
		<img id="post" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ object.image.blog.url }}" alt="">
		<div class="about-heading-content">
			<div class="row">
				<div class="col-xl-9 col-lg-10 mx-auto">
					<div class="bg-faded rounded p-5">
						<h2 class="section-heading mb-4">
							<span class="section-heading-lower">{{ object.title }}</span>
						</h2>
						{{ object.body|safe }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
