.about-heading {
  @media (min-width: 992px) {
    .about-heading-img {
      position: relative;
      z-index: 0;
    }
    .about-heading-content {
      margin-top: -5rem;
      position: relative;
      z-index: 1;
	  img {
		  max-width: 100%;
		  height: auto;
	  }
    }
  }
  .about-heading-content {
	  img {
		  max-width: 100%;
		  height: auto;
	  }
  }
  @media (max-width: 992px) {
	.about-heading-content {
	  iframe {
		  max-width: 100%;
		  height: auto;
	  }
  }
  }
}
