body {
  @include body-font;
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../img/bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  line-height: 1.75;
}

.text-faded {
  color: fade-out($white, 0.7);
}

.site-heading {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  line-height: 1;

  @include heading-font;
  .site-heading-upper {
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .site-heading-lower {
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 4rem;
  }
  img.logo {
	  max-width: 3rem;
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 2rem;
    font-weight: 100;
  }
}

.bg-faded {
  background-color: fade-out($white, 0.15);
}

.pagination li {
	margin-left: 5px;
	margin-right: 5px;
}


@media (max-width: 992px) {
	.section-heading {
		.section-heading-lower {
			font-size: 1.5rem;
			word-wrap: break-word;
		}
	}
	p {
		word-wrap: break-word;
	}
	.about-heading-content, .intro {
		.p-5 {
			padding: 3rem 2rem !important;
		}
	}
	.page-section {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}
