.languages {
	position: absolute;
}
.btn-languages {
  color: fade-out($white, 0.3);
  background-color: darken($secondary, 5%);
  border-color: darken($secondary, 5%);
  &:hover,
  &:focus,
  &:active {
    background-color: darken($secondary, 10%);
    border-color: darken($secondary, 10%);
  }
}
