{% extends "core/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block head_title %}{% trans 'Блог Української суботньої школи у Варшаві' %}{% endblock %}

{% block content %}

{% for post in posts %}
<section class="page-section clearfix">
	<div class="container">
		<div class="intro">
			<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ post.image.blog_preview.url }}" alt="">
			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
				<h2 class="section-heading mb-4">
					<span class="section-heading-lower">{{ post.title }}</span>
				</h2>
				<p class="mb-3">
				{{ post.short_descr }}
				</p>
				<div class="intro-button mx-auto">
					<a class="btn btn-primary btn-xl" href="{% url 'blog:page' post.slug %}#post">{% trans 'Читати далі' %}</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endfor %}

<section>
	<div class="container">
		<!-- Start of pagination -->
		{% if is_paginated %}
		<ul class="pagination">
			{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-sm"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
			{% else %}
			<li class="disabled btn btn-primary btn-sm"><span>&laquo;</span></li>
			{% endif %}
			{% for i in paginator.page_range %}
			{% if page_obj.number == i %}
			<li class="active btn btn-primary btn-sm"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
			{% else %}
			<li><a href="?page={{ i }}" class="btn btn-primary btn-sm">{{ i }}</a></li>
			{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-sm"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
			{% else %}
			<li class="disabled btn btn-primary btn-sm"><span>&raquo;</span></li>
			{% endif %}
		</ul>
		{% endif %}
		<!-- End of pagination -->
	</div>
</section>

{% endblock %}
