{% extends "core/base.html" %}

{% load thumbnail %}
{% load static %}

{% block content %}

<section class="page-section about-heading">
	<div class="container">
		<img id="post" class="blog-img img-fluid rounded about-heading-img mx-auto mb-3 mb-lg-0" src="{{ object.image.blog.url }}" alt="">
		<div class="about-heading-content">
			<div class="row">
				<div class="col-xl-9 col-lg-10 mx-auto">
					<div class="bg-faded rounded p-5">
						<h2 class="section-heading mb-4">
							<span class="section-heading-lower">{{ object.title }}</span>
						</h2>
						{{ object.body|safe }}
						<p class="p-2 float-right">
						<span class="text-center">
						<a class="social social-small" href="https://www.facebook.com/share.php?u={{ request.build_absolute_uri }}"><i class="fab fa-facebook-f fa-sm"></i></a>
						{{ hitcount.total_hits }} <i class="far fa-eye fa-md"></i> 
						</span>
						
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
