{% extends "core/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div class="cta-inner text-center rounded">
					<h2 class="section-heading mb-5">
						<span class="section-heading-upper">Для громадян України</span>
						<span class="section-heading-lower">Контакти</span>
					</h2>
					<p class="address mb-3">
					<em>
						<strong>Українська суботня школа</strong>
					</em>
					<br>
					Zespół Szkół Stenotypii - Języków Obcych w Warszawie
					<br>
					+48 576677498
					<br>
					szkola@naszwybor.org.pl
					<br>
					rekrutacja.uaszkola@gmail.com
					<br>
					<a href="https://www.facebook.com/ua.szkola.waw/">https://www.facebook.com/ua.szkola.waw/</a>
					</p>
					<p class="address mb-3">
					<em>
						Дошкільний відділ <strong>Дитячий клуб Рукавичка</strong>
					</em>
					<br>
					Український дім у Варшаві
					<br>
					+48 727805764
					<br>
					rukawyczka@naszwybor.org.pl
					<br>
					<a href="https://www.facebook.com/rukawyczka/">https://www.facebook.com/rukawyczka/</a>
					</p>
					

					<h3 class="mb-3">
						заняття відбуваються щосуботи
					</h3>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div class="cta-inner text-center rounded">
					<h2 class="section-heading mb-5">
						<span class="section-heading-upper">Для громадян Польщі</span>
						<span class="section-heading-lower">Контакти</span>
					</h2>
					<p class="address mb-3">
					<em>
						<strong>Дошкільний та шкільний відділи</strong>
					</em>
					<br>
					Szkola Podstawowa 221
					</p>
					<p class="address mb-3">
					<em>
						<strong>Ліцейний відділ</strong>
					</em>
					<br>
					XII Liceum Ogólnokształcący
					<br>
					</p>
					<p>
					uaszkola.waw@gmail.com
					</p>
					<h3 class="mb-3">
						заняття відбуваються щосуботи
					</h3>
					
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
